*{font-family: 'Roboto', sans-serif;}


body
{
	margin: 0px;
}

header
{
	display: block;
	height: 700px;
}

header a
{
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 3em 6em 3em 3em;
}

i.fas.fa-arrow-left
{
	font-size: 50px;
	color: rgb(53,53,53);
	padding-right: 3em;
}

header a img
{
	height: 75px;
}

.background img
{
	width: 100%;
}

.carte
{
	text-align: center;
	padding: 2em 3em 4em 3em;
	background: #F2F2F2;
	border-radius: 150px 150px 0px 0px;
	position: relative;
}

.carte h1
{
	font-size: 72px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

h1 strong
{
	font-family: 'Shrikhand', cursive;
}

i.far.fa-heart
{
	color: black;
	position: inherit;
	padding-right: 0.5em;
	cursor: pointer;
}

article
{
	display: block;
	margin-bottom: 6em;
}

.carte h2
{
	font-weight: 300;
	font-size: 46px;
	text-align: initial;
	margin-bottom: 1.2em;
}

.overline
{
	padding-bottom: 0.2em;
	border-bottom: 6px solid #99E2D0;
}

.etiquette
{
	cursor: pointer;
	width: auto;
	text-align: initial;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	font-size: 7px;
	background-color: white;
	border-radius: 35px;
	padding: 4em 3em 4em 0em;
	margin-bottom: 6em;
}

.etiquette p
{
	width: 84%;
	margin: 0px;
	font-size:16px;
}

.etiquette strong
{
	font-size: 49px;
}

.etiquette .accompagnement
{
	font-size: 39px;
}

span.prix
{
	font-size: 44px;
	font-weight: bold;
	float: right;
}

span.check
{
	display: none;
}

span.check:hover
{
	display: flex;
	color: white;
	font-size: 53px;
	background-color: #99E2D0;
	padding: 1.2em 1em 1.3em 1em;
	border-radius: 0px 30px 30px 0px;
}


button.button
{
	cursor: pointer;
	color: white;
	font-size: 53px;
	padding: 0.8em 2em 0.8em 2em;
	margin-left: 21%;
	margin-right: 21%;
	margin-bottom: 2.5em;
	border: 0px;
	border-radius: 70px;
	background: linear-gradient(-7deg, #9356DC, #FF79DA);
	box-shadow: 0px 0px 30px grey;
}

/* animation keyframe_download*/
body /*carte menu*/
{
   &.carte{
   	animation: .carte 2000ms;
   }
}

@keyframes .carte{
	0%{
		background: white;
	}
	10%{
		background: #F2F2F2;
	}
	15%{
		background: linear-gradient(to top, transparent 0%, #F2F2F2 100%);
	}
	20%{
		background: linear-gradient(to top, transparent 10%, #F2F2F2 100%);
	}
	30%{
		background: linear-gradient(to top, transparent 20%, #F2F2F2 100%);
	}
	40%{
		background: linear-gradient(to top, transparent 30%, #F2F2F2 100%);
	}
	50%{
		background: linear-gradient(to top, transparent 40%, #F2F2F2 100%);
	}
	60%{
		background: linear-gradient(to top, transparent 50%, #F2F2F2 100%);
	}
		70%{
		background: linear-gradient(to top, transparent 60%, #F2F2F2 100%);
	}
		80%,90%{
		background: linear-gradient(to top, transparent 80%, #F2F2F2 100%);
	}
	100%{
		background: linear-gradient(to top, transparent 100%, #F2F2F2 0%);
	}
}
