*
{
	font-family: 'Roboto', sans-serif;
}

h2
{
	font-weight: bold;
	font-size: 20px;
}

body{	margin: unset;}

.page-chargement
{

	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #F2F2F2;
	position: fixed;
	visibility: hidden;
	opacity: 1;
	text-align: center;
	animation-name: page-chargement;
	animation-duration: 3000ms;
	animation-fill-mode: forwards;
}

@keyframes page-chargement{
	0%{
		background-color: transparent;
		opacity: 1;
		visibility: inherit;
	}
	50%{
		background-color: #F2F2F2;
		opacity: 1;
		visibility: inherit;
	}
	100%{
		background-color: transparent;
		opacity: 0;
		visibility: hidden;
	}
}


.circle-loader
{
	width: 100px;
	margin: 15% auto;
	margin-bottom: 2em;
	background: transparent;
	border-radius: 50%;
	padding: 10px;
	animation-name: circle-loader;
	animation-duration: 1500ms;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

@keyframes circle-loader{
0%{
	background: linear-gradient(45deg, #9356DC, #FF79DA);
}
13%{
	background: linear-gradient(67deg, #9356DC, #FF79DA);
}
25%{
	background: linear-gradient(90deg, #9356DC, #FF79DA);
}
37%{
	background: linear-gradient(113deg, #9356DC, #FF79DA);
}
50%{
	background: linear-gradient(180deg, #9356DC, #FF79DA);
}
62%{
	background: linear-gradient(203deg, #9356DC, #FF79DA);
}
75%{
	background: linear-gradient(270deg, #9356DC, #FF79DA);
}
90%{
	background: linear-gradient(360deg, #9356DC, #FF79DA);
}
100%{
	background: transparent;
	visibility: hidden;
}
}

.circle
{
	background-color: transparent;
	opacity: 0.8;
	border-radius: 50%;
	padding: 50%;
	animation-name: page-chargement;
	animation-duration: 2500ms;
	animation-fill-mode: forwards;
}

@keyframes circle{
	0%{
		background-color: transparent;
	}
	50%{
		background-color: #F2F2F2;
	}
	100%{
		background-color: transparent;
		visibility: hidden;
	}
}

.text-chargement
{
	font-family: 'Shrikhand', cursive;
	font-size: 20px;
	width: 100%;
	color: transparent;
	animation-name: text-chargement;
	animation-duration: 1500ms;
	animation-fill-mode: forwards;
}

@keyframes text-chargement{
	0%{
		color: transparent;
	}
	12%{
		color: black;
		opacity: 0.3;
	}
		30%{
		opacity: 1;
	}
	50%{
		opacity: 1;
		color: black;
	}
		90%{
		opacity: 0.7;
		color: black;
	}
	95%{
		opacity: 0.4;
	}
	100%{
		color: transparent;
		visibility: hidden;
	}
}

header
{
	text-align: center;
	background-color: rgb(234,234,234);
}

header img[src="maquettes_ohmyfood/images/logo/ohmyfood@2x.svg"]
{
	width: 100%;
	height: 34px;
	font-size: 9px;
	background-color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	box-shadow: 0px 0px 10px black;
}

.logo
{
	margin-bottom: 0.3em;
}

.town_position
{
	font-size: 0px;
	display: inline-flex;
	align-items: center;
	padding-bottom: 1em;
	padding-top: 0.5em;
}

i.fas.fa-map-marker-alt
{
	font-size: 20px;
	padding-left: 3.5em;
}

.town_position input[type="search"]
{
	border: 0px;
	padding: 0.5em 0em 0.5em 0em;
	background-color: rgb(234,234,234);
}

.town_position input[value="Paris, Belleville "]
{
	font-size: 17px;
	font-weight: bold;
}

.reservation
{
	text-align: center;
	padding: 1em;
	background-color: #F2F2F2;
}

.reservation h1
{
	font-size: 25px;
}

.reservation P
{
	font-size: 14px;
	padding-bottom: 2em;
}

button.button
{
	color: white;
	font-size: 15px;
	padding: 0.8em;
	margin-bottom: 2em;
	border: 0px;
	border-radius: 70px;
	background: linear-gradient(-7deg, #9356DC, #FF79DA);
	box-shadow: 0px 0px 30px grey;
}

button.button:hover
{
	box-shadow: 0px 0px 60px grey;
	background: linear-gradient(-7deg, #9356DC, #FF9BFC);
}

nav
{
	display: block;
	font-size: 20px;
	padding: 2em 1em 2em 1em;
	text-align: left;
}
nav h2
{
	font-size: 20px;
}

nav ul
{
	display: block;
	padding-left: 0px;
}

nav li
{
	height: 34px;
	font-size: 13px;
	font-weight: bold;
	display: flex;
	align-items: center;
	border-radius: 47px;
	background-color: #F2F2F2;
	list-style-type: none;
	padding: 0.5em;
	margin-bottom: 2em;
	box-shadow: 5px 5px 30px grey;
}

nav span
{
	font-size: 12px;
	color: white;
	background-color: #9356DC;
	border-radius: 50px 50px;
	padding: 0.4em 0.7em 0.4em 0.7em;
	margin-right: 1.5em;
	margin-left: -1em;
}

nav i
{
	color: grey;
	padding-right: 1em;
}

i.fas.fa-store
{
	color: #9356DC;
}

li.shop
{
	background-color: rgb(245,235,245);
}

#titre-restaurant
{
	padding-top: 1em;
	padding-left: 1em;
	margin-bottom: 0em;
	background-color: #F2F2F2;
}


.restaurants
{
	width: auto;
	display: block;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 1em 1em 1em 1em;
	background-color: #F2F2F2;
}

.restaurants h2
{
	font-size: 50px;
}

.cards
{
	height: 245px;
	border-radius: 23px;
	margin-bottom: 1em;
	background-color: white;
	box-shadow: 1px 1px 20px grey;
}

.cards a
{
	color: black;
	font-size: 17px;
	display: block;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}

.cards img
{
	width: 100%;
	height: 170px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	object-position: center;
}

.cards span
{
	position: absolute;
	left: 66%;
	font-size: 17px;
	font-weight: bold;
	color: green;
	background-color: #99E2D0;
	margin-top: 0.7em;
	border-radius: 8px;
	padding: 0.3em 0.6em 0.3em 0.6em;
}

.contenant
{
	display: flex;
	justify-content: space-between;
}

.cards p
{
	display: inline-block;
	width: 80%;
	margin: 0.5em 0em 0em 1em;
}

.cards p strong
{
	font-weight: bold;
}

.heart-button
{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: end;
	border: 0px;
	background-color: white;
	margin-right: 1em;
}

i.far.fa-heart
{
	font-size: 30px;
	position: absolute;
	color: #FF79DA;
}

i.far.fa-heart:hover
{
	background: -webkit-linear-gradient(180deg, #FF79DA 0%, #9356DC 300%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-name: heart-gradient;
	animation-duration: 1500ms;
	animation-fill-mode: forwards;
}

@keyframes heart-gradient{
	9%{
		background: -webkit-linear-gradient(180deg, #FF79DA 0%, #9356DC 288%);
	}
	18%{
		background: -webkit-linear-gradient(180deg, #FF79DA 0%, #9356DC 196%);
	}
	27%{
		background: -webkit-linear-gradient(217deg, #FF79DA 0%, #9356DC 134%);
	}
	36%{
		background: -webkit-linear-gradient(243deg, #FF79DA 0%, #9356DC 103%);
	}
	45%{
		background: -webkit-linear-gradient(267deg, #FF79DA 0%, #9356DC 66%);
	}
	54%{
		background: -webkit-linear-gradient(267deg, #FF79DA 0%, #9356DC 55%);
	}
	63%{
		background: -webkit-linear-gradient(286deg, #FF79DA 0%, #9356DC 37%);
	}
	72%{
		background: -webkit-linear-gradient(298deg, #FF79DA 0%, #9356DC 37%);
	}
	81%{
		background: -webkit-linear-gradient(298deg, #FF79DA 0%, #9356DC 29%);
	}
	90%{
		background: -webkit-linear-gradient(300deg, #FF79DA 0%, #9356DC 29%);
	}
	100%{
		background: -webkit-linear-gradient(380deg, #FF79DA 0%, #9356DC 10%);
		visibility: hidden ;
	}
}

i.fas.fa-heart
{
	font-size: 30px;
	color: #9356DC;
	opacity: 0;
	transform: scale(0.5);
	transition: all 2500ms;
}


i.fas.fa-heart:active,i.fas.fa-heart:hover
{
	border: 0px;
	opacity: 1;
	color: #FF79DA;
	transform: scale(1.15);
}

footer
{
	background-color: rgb(53,53,53);
	padding: 1em;
}

.logo_de_fin
{
	padding-left: 0em;
	margin-top: 1em;
	margin-bottom: 1em;
}

footer img
{
	font-size: 13px;
	width: 35%;
	filter: invert(100%);
}

footer .info
{
	width: 85%;
}

footer i
{
	padding-right: 2em;
}

i.fas.fa-hands-helping
{
	font-size: 17px;
}

footer ul
{
	padding-left: 0px;
}

footer li
{
	font-size: 17px;
	color: white;
	list-style-type: none;
	margin-bottom: 0.5em;
}

footer a
{
	text-decoration: none;
	color: white;
}

i.fas.fa-utensils
{
	padding-right: 0.5em;
}

i.fas.fa-hands-helping
{
	font-size: 17px;
	padding-right: 0.5em;
}

@media screen and (min-width: 1230px)
{

		body
		{
			width: 70%;
			margin: auto;
			background-image: url(maquettes_ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
		}

		.circle-loader
		{
			margin: 14% 32%;
			text-align: center;
		}

		.text-chargement
		{
			width: 70%;
		}

		header img[src="maquettes_ohmyfood/images/logo/ohmyfood@2x.svg"]
		{
			height: 65px;
			padding-top: 1em;
			padding-bottom: 1em;
}

		i.fas.fa-map-marker-alt
		{
			font-size: 30px;
}

		.town_position input[value="Paris, Belleville "]
		{
			font-size: 30px;
		}

		.town_position
		{
			font-size: 13px;
			padding-bottom: 0px;
		}

		.reservation
		{
			padding: 1em;
		}

		.reservation h1
		{
			font-size: 49px;
			margin: 0em;
		}

		.reservation P
		{
			font-size: 16px;
			padding-bottom: 1em;
		}

		button.button
		{
			font-size: 19px;
			margin-bottom: 1em;
		}

		nav
		{
			background-color: white;
			padding: 1em 3em 1em 1em;
			border-radius: 0px 0px 60px 60px;
		}

		nav h2#fonctionnement
		{
			border-radius: 0px;
			font-size: 30px;
			color: black;
			background-color: white;
			padding: 0px;
			margin: 0px;
		}

		nav ul
		{
			display: flex;
			justify-content: space-around;
		}

		nav li
		{
			font-size: 13px;
			padding: 0em 1em;
			margin-top: 1em;
			margin-bottom: 0px;
		}

		nav span
		{
			font-size: 15px;
		}

		.restaurants
		{
			display: flex;
			justify-content: space-evenly;
			padding: 1em 0em 1em 0em;
			border-radius: 0px 0px 51px 51px;
		}

		section
		{
			margin-bottom: 0.5em;
		}

		h2
		{
			font-weight: bold;
			color: white;
			padding-left: 2em;
			background-color: #99E2D0;
			margin-bottom: 0em;
			padding: 0.5em 0em 0.5em 1em;
			margin-top: 0.5em;
			border-radius: 60px 60px 0px 0px;
		}

		.cards
		{
			width: 45%;
			height: 338px;
			margin-bottom: 1em;
			margin-top: 1em;
		}

		.img-new
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		.cards img
		{
			height: 220px;
		}

		.cards span
		{
			font-size: 25px;
			left: inherit;
			margin-right: 1em;
		}

		.contenant
		{
			display: flex;
			font-size: 23px;
			flex-wrap: nowrap;
			justify-content: space-evenly;
		}

		.heart-button
		{
			margin-right: 1em;
		}

		i.far.fa-heart
		{
			font-size: 38px;
		}

		i.fas.fa-heart
		{
			font-size: 38px;
		}

		footer
		{
			padding: 2em 2em 1em 2em;
			border-radius: 60px 60px 0px 0px;
		}

		.logo_de_fin
		{
			margin-top: 0em;
		}

		footer img
		{
			width: 25%;
		}

		footer li
		{
			font-size: 21px;
		}

		i.fas.fa-hands-helping
		{
			font-size: 20px;
		}

}