*{font-family: 'Roboto', sans-serif;}


body
{
	margin: 0px;
	background-color: #F2F2F2;
}

header
{
	display: block;
	height: 219px;
}

header a
{
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 0.5em 1em 0.5em 1em;
}

i.fas.fa-arrow-left
{
	font-size: 22px;
	color: rgb(53,53,53);
	padding-right: 1em;
}

header a img
{
	height: 30px;
	margin: auto;
}

.background img
{
	width: 100%;
	animation-name: background;
	animation-duration: 3000ms;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
}

@keyframes background{
	0%{
		transform: translateY(-40%);
		opacity: 0;
	}
	100%{
		transform: translateY(0%);
		opacity: 1;
	}
}

.carte
{
	text-align: center;
	padding: 1em 1em 1em 1em;
	background: #F2F2F2;
	border-radius: 46px 46px 0px 0px;
	position: relative;
}

.carte h1
{
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

h1 strong
{
	font-family: 'Shrikhand', cursive;
}

i.far.fa-heart
{
	font-size: 19px;
	color: black;
	position: inherit;
	padding-right: 0.5em;
	cursor: pointer;
}

article
{
	display: block;
	margin-bottom: 2em;
}

.carte h2
{
	font-weight: 300;
	font-size: 14px;
	text-align: initial;
	margin-bottom: 1.2em;
}

.overline
{
	padding-bottom: 0.2em;
	border-bottom: 3px solid #99E2D0;
}

.etiquette
{
	cursor: pointer;
	text-align: initial;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	font-size: 7px;
	background-color: white;
	border-radius: 18px;
	margin-bottom: 2em;
	opacity: 0;
	animation-name: etiquette;
	animation-duration: 2000ms;
	animation-fill-mode: forwards;
}

.etiquette:nth-child(1)
{
	animation-delay: 0ms;
}

.etiquette:nth-child(2)
{
	animation-delay: 750ms;
}

.etiquette:nth-child(3)
{
	animation-delay: 1500ms;
}

.etiquette:nth-child(4)
{
	animation-delay: 2000ms;
}



@keyframes etiquette{
	0%{
		opacity: 0;
		transform: translateY(20%);
	}
	100%{
		opacity: 1;
		transform: translateY(0%);
	}
}

.etiquette p
{
	width: 84%;
	margin: 0px;
	font-size:16px;
	margin: 0.5em 0.5em 0.5em 0.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.etiquette strong
{
	font-size: 13px;
}

.etiquette .accompagnement
{
	font-size: 12px;
}

span.prix
{
	font-size: 17px;
	font-weight: bold;
	float: right;
	margin-right: 1em;
	margin-bottom: 0.7em;
}

span.check
{
	width: 0%;
	height: 100%;
	padding-top: 3em;
	padding-bottom: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #99E2D0;
	border-radius: 0px 18px 18px 0px;
}

.etiquette:hover > span.check,.etiquette:focus > span.check
{
	width: 25%;
}

.etiquette > span.check
{
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}


i.fas.fa-check-circle.fa\.color
{
	font-size: 20px;
	color: white;
	opacity: 0;
}
.etiquette:hover > span.check i,.etiquette:focus > span.check i
{
	position: initial;
	opacity: 1;
	transform-origin: center;
	transform: rotate(360deg);
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

button.button
{
	cursor: pointer;
	color: white;
	font-size: 14px;
	padding: 0.8em 2em 0.8em 2em;
	margin-left: 21%;
	margin-right: 21%;
	margin-bottom: 2.5em;
	border: 0px;
	border-radius: 70px;
	background: linear-gradient(-7deg, #9356DC, #FF79DA);
	box-shadow: 0px 0px 30px grey;
}



@media screen and (min-width: 1230px)
{

				body
		{
			width: 70%;
			margin: auto;
			background-color: white;
		}

		header
		{
			height: 450px;
		}

		header a
		{
			padding: 1.3em 1em 0.5em 1em;
		}

		i.fas.fa-arrow-left
		{
			padding-right: 32%;
		}

		header a img
		{
			height: 50px;
			margin: 0px;
		}

		.background img
		{
			width: 100%;
			object-fit: cover;
			object-position: center;
			height: 500px;
		}

		.carte
		{
			border-radius: 100px 100px 100px 100px;
		}

		.carte h1
		{
			font-size: 38px;
		}

		i.far.fa-heart
		{
			font-size: 35px;
		}

		.carte h2
		{
			font-size: 20px;
			width: 100%;
		}

		article
		{
			margin-bottom: 1em;
		}

		.all
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.etiquette
		{
			width: 48%;
		}

		.etiquette p
		{
			margin-bottom: 1em;
			margin-left: 1em;
		}

		.etiquette strong
		{
			font-size: 22px;
		}

		.etiquette .accompagnement
		{
			font-size: 15px;
		}

		span.check
		{
			padding: 0em;
		}

		span.prix
		{
			font-size: 22px;
		}

		button.button
		{
			font-size: 20px;
			margin-bottom: 0em;
		}

}