*{font-family: 'Roboto', sans-serif;}


body
{
	margin: 0px;
}

header
{
	display: block;
	height: 700px;
}

header a
{
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	padding: 3em 6em 3em 6em;
}

i.fas.fa-arrow-left
{
	font-size: 50px;
	color: rgb(53,53,53);
	padding-right: 3em;
}

header a img
{
	height: 75px;
}

.background img
{
	width: 100%;
}

.carte
{
	padding: 2em 3em 4em 3em;
	background: #F2F2F2;
	border-radius: 150px 150px 0px 0px;
	position: relative;
}

.carte h1
{
	font-size: 80px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

h1 strong
{
	font-family: 'Shrikhand', cursive;
}

i.far.fa-heart
{
	padding-right: 0.5em;
}

article
{
	margin-bottom: 6em;
}

.carte h2
{
	font-weight: 300;
	font-size: 34px;
}

.etiquette
{
	width: auto;
	font-size: 14px;
	background-color: white;
	border-radius: 45px;
	padding: 2em;
	margin-bottom: 3em;
}

.etiquette p
{
	width: 100%;
	margin: 0px;
	font-size:16px;
}

.etiquette .accompagnement
{
	font-size: 14px;
}

span.prix
{
	font-size: 44px;
	font-weight: bold;
	float: right;
	width: 12%;
}

button.button
{
	color: white;
	font-size: 53px;
	padding: 0.8em 2em 0.8em 2em;
	margin-left: 21%;
	margin-bottom: 2.5em;
	border: 0px;
	border-radius: 70px;
	background: linear-gradient(-7deg, #9356DC, #FF79DA);
	box-shadow: 0px 0px 30px grey;
}

footer
{
	background-color: rgb(53,53,53);
	padding: 3em;
}

.logo_de_fin
{
	padding-left: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
}

footer img
{
	font-size: 13px;
	filter: invert(100%);
}

footer i
{
	padding-right: 2em;
}

i.fas.fa-hands-helping
{
	font-size: 12px;
}

footer li
{
	color: white;
	list-style-type: none;
	margin-bottom: 1em;
}
